@font-face {
  font-family: Exo;
  src: url(./assets/fonts/Exo2.0-Thin.otf);
}
@font-face {
  font-family: Treb;
  src: url(./assets/fonts/trebuc.ttf);
}
@font-face {
  font-family: TrebBold;
  src: url(./assets/fonts/trebucbd.ttf);
}

body {
  min-height: 100vh;
  background: linear-gradient(
      rgba(0, 0, 0, 0.6),
      30%,
      transparent,
      70%,
      rgba(0, 0, 0, 0.6)
    ),
    url(./assets/img/back.png);
  font-family: Treb;
}

.container {
  max-width: 1280px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.title {
  font-family: Exo;
  font-size: 36px;
  color: #f2f2f2;
  text-align: center;
}
.card {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  &__item {
    margin: 30px;
  }
  &__background {
    width: 320px;
    height: 480px;
    background-color: #1698d9;
    border: 4px solid #1698d9;
    border-radius: 12px;
    clip-path: polygon(13.4% 0, 100% 0, 100% 100%, 0 100%, 0 9%);
    z-index: -1;
  }
  &__front {
    position: relative;
    background-color: #f2f2f2;
    width: 320px;
    height: 480px;
    border-radius: 8px;
    clip-path: polygon(13.4% 0, 100% 0, 100% 100%, 0 100%, 0 9%);
    overflow: hidden;
  }
}
.text {
  padding-top: 10px;
  margin-left: 43px;
  &__upper {
    margin-top: 5px;
    color: #666666;
    font-size: 16px;
  }
  &__name {
    margin-top: 5px;
    font-family: TrebBold;
    font-size: 48px;
  }
  &__type {
    font-family: TrebBold;
    font-size: 24px;
    margin-bottom: 10px;
  }
  &__present {
    font-size: 14px;
    color: #666666;
  }
}
.image-cat {
  position: absolute;
  top: 215px;
  left: -27px;
}
.circle {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #1698d9;
  top: 390px;
  left: 225px;
  &__count {
    font-size: 42px;
    position: relative;
    top: 10px;
    left: 30px;
    color: #f2f2f2;
  }
  &__units {
    font-size: 21px;
    position: relative;
    left: 30px;
    color: #f2f2f2;
  }
}
.description__text {
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
  color: #f2f2f2;
}
